<div class="mt-12 sm:mt-24">
  <div class="text-left border-b border-base-content/10 p-4 sm:p-8 sm:p-8 max-w-4xl mx-auto md:card"
       style="background-color: var(--color-primary-ghost) !important;
              color: var(--color-primary) !important">
    <div class="max-w-3xl mx-auto py-12">
      <div class="mb-8">
        <span class="font-handwritten text-3xl sm:text-3xl md:text-5xl">Maths.pm</span><span class="font-base text-lg sm:text-xl md:text-3xl">&nbsp;ne collecte aucune donnée.</span>
      </div>

      <div class="text-lg text-left mb-6 font-light">
        {# <span class="font-handwritten text-xl">Maths.pm</span> ne collecte
pas aucune donnée - <span class="italic"></span>. #}Aucun cookie collecté, aucune ligne de log d'écrite, pas l'ombre d'une base de données distante - <span class="italic">nihil omnino</span>.
        <br />
        Toutes les exécutions de code se font localement. Nous expliquons notre démarche sur cette
        <a class="underline underline-offset-2 hover:underline-offset-4 font-light"
           href="{{ request.url_for('get_pm_root') }}">page</a>.
      </div>
      <div></div>

      <hr class="my-8 bd-base-content" />

      <div>
        <a class="text-xs sm:text-base underline underline-offset-1 hover:underline-offset-3" href="/about">Limites de confidentialité (impact de l'hébergeur)</a>
      </div>
      <div>
        <a class="text-xs sm:text-base underline underline-offset-1 hover:underline-offset-3" href="/about">Aspects technologiques</a>
      </div>
    </div>
  </div>
</div>

<div class="mt-12 mb-12">
  <div class="text-left border-b border-base-content/10 p-4 sm:p-8 max-w-4xl mx-auto md:card bg-base-200 shadow">
    <div class="max-w-3xl mx-auto py-12">
      <div class="mb-8">
        <span class="font-base text-lg sm:text-xl md:text-3xl">
          Chez
          <span class="text-xl sm:text-2xl md:text-4xl font-heading"><span class="">Pointcarre</span>.app</span>,
          nous nous engageons en faveur des
          <a class="underline underline-offset-2 hover:underline-offset-4"
             href="{{ request.url_for('get_pm_root') }}">communs numériques</a>.</span>
      </div>
      {# <hr class="my-8 bd-base-content" /> #}
      <div>
        <a class="text-xs sm:text-base underline underline-offset-1 hover:underline-offset-4" href="/about">Ressources pédagogiques</a>
      </div>
      <div>
        <a class="text-xs sm:text-base underline underline-offset-1 hover:underline-offset-4" href="/about">Logiciels Libres & Infrastructure 🇫🇷</a>
      </div>
      <div>
        <a class="text-xs sm:text-base underline underline-offset-1 hover:underline-offset-3" href="/about"> Licences AGPLv3 & CC BY-NC-SA 4.0</a>
      </div>
      <br />
      <br />
      {% include "base/licenses.html" %}
    </div>
  </div>
</div>


<div class="flex items-center justify-center flex-col my-12 py-12">
  <div class="font-handwritten text-4xl mb-3 mt-[-0.5rem]">Maths.pm, par</div>
  <div>
    <a href="/" class="flex items-center gap-1 sm:gap-2 bg-transparent">
      <p class="w-10 h-10">{% include "base/logo-zelie-primary.html" %}</p>
      <p class="font-heading">
        <span style="font-size: 2rem;"><span class="">pointcarre</span>.app</span>
      </p>
    </a>
  </div>
</div>


<div class="bg-base-200 px-8 sm:px-4">


  <footer class="text-base-content max-w-3xl mx-auto py-12 sticky max-w-[680px] sm:max-w-[760px] md:max-w-[840px] lg:max-w-[920px] top-[100vh] grid grid-cols-1 sm:grid-cols-3 gap-4">
    <!-- Logo Section -->


    {# <aside class="">
      <div class="font-handwritten text-4xl mb-4 mt-[-0.5rem]">Maths.pm, par</div>
      <a href="/" class="flex items-center gap-1 sm:gap-2 bg-transparent">
        <p class="w-10 h-10">{% include "base/logo-zelie-primary.html" %}</p>
        <p class="font-heading">
          <span class="text-2xl"><span class="">pointcarre</span>.app</span>
        </p>
      </a>
</aside> #}

    <!-- Navigation Menu -->
    <nav class="flex flex-col space-y-2 mb-4 sm:mb-0">
      <h6 class="footer-title font-body text-base-content/70">Navigation</h6>
      <a href="/" class="link link-hover">Accueil</a>
      <a href="/sitemap-display" class="link link-hover">Plan du site</a>
      <a href="/calendar" class="link link-hover">Calendrier</a>
      <a href="/contact" class="link link-hover">Contact</a>
    </nav>

    <!-- Legal Links -->
    <nav class="flex flex-col space-y-2 mb-4 sm:mb-0">
      <h6 class="footer-title font-body text-base-content/70">Ressources</h6>
      <a href="/ressources#secondaire" class="link link-hover">Pour le secondaire</a>
      <a href="/ressources#superieur" class="link link-hover">Pour le supérieur</a>
      <a href="/ressources#logiciels-libres" class="link link-hover">Logiciels libres</a>
      <a href="/ressources#logiciels-libres-tiers" class="link link-hover">Logiciels libres de tiers</a>
    </nav>

    <!-- Legal Links -->
    <nav class="flex flex-col space-y-2 mb-4 sm:mb-0">
      <h6 class="footer-title font-body text-base-content/70">À Propos</h6>
      <a href="/privacy" class="link link-hover">Notre mission</a>
      <a href="/privacy" class="link link-hover">Nos engagements</a>
      <a href="/licenses" class="link link-hover"><span class="italic">Open Source</span></a>
      <a href="/privacy" class="link link-hover">Mentions légales</a>
      <a href="/privacy" class="link link-hover">RGPD & Confidentialité</a>

    </nav>
  </footer>
</div>
