{# <div class="mt-12 sm:mt-24">
  <div class="text-left border-b border-base-content/10 p-4 sm:p-8 sm:p-8 max-w-4xl mx-auto" style="background-color: var(--color-primary-ghost) !important; color: var(--color-primary) !important; border-radius: var(--radius-box) !important">
    <div class="max-w-3xl mx-auto py-12">
      <div class="mb-8">
        <span class="font-handwritten text-3xl sm:text-3xl md:text-5xl">Maths.pm</span>
        <span class="font-base text-lg sm:text-xl md:text-3xl italic">&nbsp;ne collecte aucune donnée.</span>
      </div>

      <div class="text-lg text-left mb-6 font-light">
        <ul class="list-disc list-inside">
          <li>Aucun cookie collecté</li>
          <li>Aucune ligne de log d'écrite</li>
          <li>Pas l'ombre d'une base de données distante</li>
          <li>
            <span class="font-medium">nihil omnino</span>
          </li>
        </ul>

        <div class="mt-4">Ni par nous, ni par notre hébergeur, ni par aucun service tiers.</div>
      </div>


      <hr class="my-8 bd-base-content" />

      <div class="text-lg text-left mb-6 font-light">

        <br />
        <span>Toutes les exécutions de code se font localement. Nous expliquons notre démarche sur cette
          <a class="underline underline-offset-2 hover:underline-offset-4 font-light" href="{{ request.url_for('get_pm_root') }}">page</a>.</span>

      </div>
      <div>
        <a class="text-xs sm:text-base underline underline-offset-1 hover:underline-offset-3" href="/about">Aspects technologiques</a>
      </div>
    </div>
  </div>
</div> #}

{# <div class="mt-12 mb-12">
  <div class="text-left border-b border-base-content/10 p-4 sm:p-8 max-w-4xl mx-auto md:card bg-base-200 shadow">
    <div class="max-w-3xl mx-auto py-12">
      <div class="mb-8">
        <span class="font-base text-lg sm:text-xl md:text-3xl">
          Chez
          <span class="text-xl sm:text-2xl md:text-4xl font-heading"><span class="">Pointcarre</span>.app</span>,
          nous nous engageons en faveur des
          <a class="underline underline-offset-2 hover:underline-offset-4" href="{{ request.url_for('get_pm_root') }}">communs numériques</a>.</span>
      </div>
      <div>
        <a class="text-xs sm:text-base underline underline-offset-1 hover:underline-offset-4" href="/about">Ressources pédagogiques</a>
      </div>
      <div>
        <a class="text-xs sm:text-base underline underline-offset-1 hover:underline-offset-4" href="/about">Logiciels Libres & Infrastructure 🇫🇷</a>
      </div>
      <div>
        <a class="text-xs sm:text-base underline underline-offset-1 hover:underline-offset-3" href="/about"> Licences AGPLv3 & CC BY-NC-SA 4.0</a>
      </div>
      <br />
      <br />
      {% include "base/licenses.html" %}
    </div>
  </div>
</div> #}


{# <div class="flex items-center justify-center flex-col my-12 py-12">
  <div class="font-handwritten text-4xl mb-3 mt-[-0.5rem]">Maths.pm, par</div>
  <div>
    <a href="/" class="flex items-center gap-1 sm:gap-2 bg-transparent">
      <p class="w-10 h-10">{% include "base/logo-zelie-primary.html" %}</p>
      <p class="font-heading">
        <span style="font-size: 2rem;"><span class="">pointcarre</span>.app</span>
      </p>
    </a>
  </div>
</div> #}

{# 
<div class="bg-base-200 px-8 sm:px-4">


  <footer class="text-base-content max-w-3xl mx-auto py-12 sticky max-w-[680px] sm:max-w-[760px] md:max-w-[840px] lg:max-w-[920px] top-[100vh] grid grid-cols-1 sm:grid-cols-3 gap-4">
    <!-- Logo Section -->

    <!-- Navigation Menu -->
    <nav class="flex flex-col space-y-2 mb-4 sm:mb-0">
      <h6 class="footer-title font-body text-base-content/70">Navigation</h6>
      <a href="/" class="link link-hover">Accueil</a>
      <a href="/sitemap-display" class="link link-hover">Plan du site</a>
      <a href="/calendar" class="link link-hover">Calendrier</a>
      <a href="/contact" class="link link-hover">Contact</a>
    </nav>

    <!-- Legal Links -->
    <nav class="flex flex-col space-y-2 mb-4 sm:mb-0">
      <h6 class="footer-title font-body text-base-content/70">Ressources</h6>
      <a href="/ressources#secondaire" class="link link-hover">Pour le secondaire</a>
      <a href="/ressources#superieur" class="link link-hover">Pour le supérieur</a>
      <a href="/ressources#logiciels-libres" class="link link-hover">Logiciels libres</a>
      <a href="/ressources#logiciels-libres-tiers" class="link link-hover">Logiciels libres de tiers</a>
    </nav>

    <!-- Legal Links -->
    <nav class="flex flex-col space-y-2 mb-4 sm:mb-0">
      <h6 class="footer-title font-body text-base-content/70">À Propos</h6>
      <a href="/privacy" class="link link-hover">Notre mission</a>
      <a href="/privacy" class="link link-hover">Nos engagements</a>
      <a href="/licenses" class="link link-hover"><span class="italic">Open Source</span></a>
      <a href="/privacy" class="link link-hover">Mentions légales</a>
      <a href="/privacy" class="link link-hover">RGPD & Confidentialité</a>

    </nav>
  </footer>
</div> #}


{# <section class="hero min-h-[60vh] bg-base-200">
    <div class="hero-content text-center max-w-3xl">
      <div>
        <h1 class="text-5xl font-bold font-handwritten">
          <span class="text-primary">Maths</span>.pm
        </h1>
        <p class="py-6 text-xl font-light italic">
          Une plateforme de ressources mathématiques <span class="font-medium">libres</span>, <span class="font-medium">sans collecte de données</span>, pour les élèves et les enseignants.
        </p>
        <div class="flex gap-4 justify-center mt-8">
          <a href="#ressources" class="btn btn-primary btn-lg">Explorer les ressources</a>
          <a href="/about" class="btn btn-ghost btn-lg">Notre démarche</a>
        </div>
      </div>
    </div>
</section> #}


{% if request.path != "/" %}
  {# Section 1 : Engagement vie privée  #}
  {# <div class="mt-12 sm:mt-24">
    <div class="text-left border-b border-base-content/10 p-4 sm:p-8 max-w-4xl mx-auto" style="background-color: var(--color-primary-ghost) !important; color: var(--color-primary) !important; border-radius: var(--radius-box) !important">
      <div class="max-w-3xl mx-auto py-10">
        <div class="mb-6 sm:mb-12">
          <span class="font-handwritten text-3xl sm:text-3xl md:text-5xl">Maths.pm</span>
          <span class="font-base text-lg sm:text-xl md:text-3xl italic">&nbsp;ne collecte aucune donnée.</span>
        </div>
        <div class="text-base sm:text-lg text-left mb-6 font-light">
          <ul class="list-disc list-inside">
            <li>Aucun cookie collecté</li>
            <li>Aucune ligne de log écrite</li>
            <li>Pas l'ombre d'une base de données distante</li>
            <li>
              <span class="font-medium">nihil omnino</span>
            </li>
          </ul>
        </div>
        <hr class="my-10 border-dashed border-base-content/30" />

        <div class="text-base sm:text-lg text-left mt-4  font-light">
          <ul class="list-disc list-inside">
            <li>
              Ni par   <span class="font-heading text-lg sm:text-xl">pointcarre.app</span></span>
            </li>
            <li>Ni par notre hébergeur</li>
            <li>Ni par aucun service tiers</li>
          </ul>
        </div>

        <hr class="my-10 border-dashed border-base-content/30" />

        <p class="mt-4 text-lg text-left font-light">
          Nous expliquons notre démarche <span class="italic">zéro donnée conservée</span> sur cette <a class="underline underline-offset-2 hover:underline-offset-4 font-light" href="{{ request.url_for('get_pm_root') }}">page</a>.
        </p>

      </div>
    </div>
</div> #}

  {# Section 2 : Communs numériques  #}
  {# <div class="mt-12">
    <div class="bg-base-200/80 p-4 sm:p-8 max-w-4xl mx-auto" style="border-radius: var(--radius-box) !important">
      <div class="max-w-3xl mx-auto py-10">
        <!-- Titre principal -->
        <div class="mb-10">
          <span class="text-lg sm:text-xl md:text-3xl">
            Chez
            <span class="text-xl sm:text-2xl md:text-4xl font-heading">
              <span class="">Pointcarre</span>.app,
            </span>
            nous nous engageons en faveur des
            <a class="underline underline-offset-2 hover:underline-offset-4 font-light" href="{{ request.url_for('get_pm_root') }}">communs numériques</a>.
          </span>
        </div>
        <!-- Liste des ressources -->
        <div class="text-base sm:text-lg text-left mb-6 font-light">
          <ul class="list-disc list-inside">
            <li class="mb-2">
              <a class="underline decoration-1 underline-offset-2 hover:underline-offset-4 font-extralight" href="/ressources#secondaire">Ressources pédagogiques (secondaire)</a>
            </li>
            <li class="mb-2">
              <a class="underline decoration-1 underline-offset-2 hover:underline-offset-4 font-extralight" href="/ressources#superieur">Ressources pédagogiques (supérieur)</a>
            </li>
            <li class="mb-2">
              <a class="underline decoration-1 underline-offset-2 hover:underline-offset-4 font-extralight" href="/ressources#logiciels-libres">Logiciels Libres & Infrastructure 🇫🇷</a>
            </li>
            <li class="mb-2">
              <a class="underline decoration-1 underline-offset-2 hover:underline-offset-4 font-extralight" href="/about#licences">Licences AGPL-3.0 & CC 4.0 BY-NC-SA</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> #}
{% endif %}

{# Section 3 : Signature  #}
<div class="max-w-3xl bg-base-100 shadow-lg p-4 mx-auto my-18" style="border-radius: var(--radius-box)">
  <div class="flex items-center justify-center flex-col mt-12">
    <div class="font-handwritten text-4xl mb-3 mt-[-0.5rem]">Maths.pm, par</div>
    <div>
      <a href="/" class="flex items-center gap-1 sm:gap-2 bg-transparent">
        <p class="w-10 h-10">{% include "base/logo-zelie-primary.html" %}</p>
        <p class="font-heading mt-[-0.15rem]">
          <span style="font-size: 2rem;"><span class="">pointcarre</span>.app</span>
        </p>
      </a>
    </div>
  </div>
  <div class="my-12">{% include "base/licenses.html" %}</div>

</div>


<!-- Section 4 : Footer principal -->
<div class="bg-base-200/60 px-8 sm:px-4">
  <footer class="text-base-content max-w-3xl mx-auto py-12 grid grid-cols-1 sm:grid-cols-3 gap-4">
    <!-- Navigation -->
    <nav class="flex flex-col space-y-2 mb-3">
      <h6 class="footer-title font-body text-base-content/70">Navigation</h6>
      <a class="link link-hover" href="/">Accueil</a>
      <a class="link link-hover" href="/sitemap-display">Plan du site</a>
      {# <a class="link link-hover" href="/calendar">Calendrier</a> #}
      <a class="link link-hover" href="/contact">Contact</a>
    </nav>

    <!-- Ressources -->
    <nav class="flex flex-col space-y-2 mb-3">
      <h6 class="footer-title font-body text-base-content/70">Ressources</h6>
      <a class="link link-hover" href="/ressources#secondaire">Secondaire</a>
      <a class="link link-hover" href="/ressources#superieur">Supérieur</a>
      <a class="link link-hover" href="/ressources#logiciels-libres">Logiciels libres</a>
      <a class="link link-hover" href="/ressources#logiciels-libres-tiers">Logiciels de tiers</a>
    </nav>

    <!-- Légal -->
    <nav class="flex flex-col space-y-2 mb-3">
      <h6 class="footer-title font-body text-base-content/70">À Propos</h6>
      <a class="link link-hover" href="/pm/pca/1_mission.md">Notre mission</a>
      {# <a class="link link-hover" href="/commitments">Engagements</a> #}
      <a class="link link-hover" href="/pm/pca/3_open_source.md"><span class="italic">Open Source</span></a>
      <a class="link link-hover" href="/pm/pca/4_mentions_legales.md">Mentions légales</a>
      <a class="link link-hover" href="/pm/pca/5_rgpd.md">RGPD & Confidentialité</a>
    </nav>
  </footer>
</div>
