<div class="mt-12 sm:mt-24">
  <div class="text-left border-b border-base-content/10 p-4 sm:p-8"
       style="background-color: var(--color-primary-ghost) !important;
              color: var(--color-primary) !important">
    <div class="max-w-3xl mx-auto py-12">
      <div class="mb-6">
        <span class="font-handwritten text-3xl sm:text-3xl md:text-5xl">Maths.pm</span>
        &nbsp;
        <span class="font-base text-lg sm:text-xl md:text-3xl">ne collecte aucune donnée.</span>
      </div>
      <div class="text-lg text-left mb-6">
        <span class="font-handwritten text-xl">Maths.pm</span> ne collecte pas
        le moindre cookie, n'écrit aucune ligne de "log", n'utilise aucune base
        de données. Tout se passe
        <a class="underline underline-offset-1 hover:underline-offset-4"
           href="{{ request.url_for('get_pm_root') }}">localement</a>
        - <strong class="italic">nihil omnino</strong>.
      </div>
      <div>
        <a class="text-sm sm:text-lg underline underline-offset-1 hover:underline-offset-4"
           href="{{ request.url_for('get_pm_root') }}">Nos engagements</a>
      </div>

      <hr class="my-8 bd-base-content" />

      <div>
        <a class="text-xs sm:text-base underline underline-offset-1 hover:underline-offset-4" href="/about">Limites de confidentialité (impact de l'hébergeur)</a>
      </div>
      <div>
        <a class="text-xs sm:text-base underline underline-offset-1 hover:underline-offset-4" href="/about">Aspects technologiques</a>
      </div>
    </div>
  </div>

  <div class="bg-base-200">
    <footer class="text-base-content max-w-6xl mx-auto py-12 sticky top-[100vh] grid grid-cols-1 sm:grid-cols-4 gap-8">
      <!-- Logo Section -->

      <aside class="">
        <div class="font-handwritten text-4xl mb-4 mt-[-0.5rem]">Maths.pm, par</div>
        <a href="/" class="flex items-center gap-1 sm:gap-2 bg-transparent">
          <p class="w-8 h-8">{% include "base/logo-zelie-primary.html" %}</p>
          <p class="font-heading">
            <span class="text-xl"><span class="">pointcarre</span>.app</span>
          </p>
        </a>
      </aside>

      <!-- Navigation Menu -->
      <nav class="flex flex-col">
        <h6 class="footer-title font-body">Navigation</h6>
        <a href="" class="link link-hover">Accueil</a>
        <a href="" class="link link-hover">Plan du site</a>
        <a href="/about" class="link link-hover">À propos</a>
        <a href="/contact" class="link link-hover">Contact</a>
      </nav>

      <!-- Legal Links -->
      <nav class="flex flex-col">
        <h6 class="footer-title font-body">Légal</h6>
        <a href="/privacy" class="link link-hover">Mentions légales</a>
        <a href="/privacy" class="link link-hover">RGPD</a>
        <a href="/terms" class="link link-hover">CGU</a>
        <a href="/licenses" class="link link-hover"><span class="italic">Open Source</span></a>
      </nav>

      <!-- Legal Links -->
      <nav class="flex flex-col">
        <h6 class="footer-title font-body">Légal</h6>
        <a href="/privacy" class="link link-hover">Mentions légales</a>
        <a href="/privacy" class="link link-hover">RGPD</a>
        <a href="/terms" class="link link-hover">CGU</a>
        <a href="/licenses" class="link link-hover"><span class="italic">Open Source</span></a>
      </nav>
    </footer>
  </div>

  <div class="bg-base-200 text-base-content text-center border-t border-base-content/10">
    {% include "base/licenses.html" %}
  </div>
</div>
