<div class="p-4">
  <div class="text-left">
    <h2 class="text-xl sm:text-2xl font-bold">Paramètres d'accessibilité</h2>
    <a class="text-sm link link-secondary italic" href="/mathspm/rgaa" target="_blank">Au sujet de la conformité RGAA 4.1</a>
  </div>

  <hr class="my-6 border-base-300 h-px" />

  {% include "base/modal-accessibility-controls.html" %}

  {#
  <details class="mt-8 p-0">
    <summary class="cursor-pointer hover:bg-base-100 rounded-lg text-sm">
      <span class="select-none">RGAA 4.1</span>
    </summary>
    <div class="px-4 pb-4 pt-4 text-sm leading-relaxed"></div>
</details> #}

  <div class="modal-action"></div>
  <div class="text-right">
    <form method="dialog">
      <button class="btn btn-soft">Fermer</button>
    </form>
  </div>
</div>
