<div class="p-4">
  <div class="text-left mb-4">
    <h2 class="text-xl sm:text-2xl font-bold mb-2">Paramètres d'accessibilité</h2>
  </div>
  <hr class="my-4 border-base-content border-b-1" />


  {% include "base/modal-accessibility-controls.html" %}


  <details class="mt-8 p-0">
    <summary class="cursor-pointer hover:bg-base-100 rounded-lg text-sm">
      <span class="select-none">RGAA 4.1</span>
    </summary>
    <div class="px-4 pb-4 pt-4 text-sm leading-relaxed"></div>
  </details>

  <div class="modal-action"></div>
  <div class="text-right">
    <form method="dialog">
      <button class="btn btn-soft">Fermer</button>
    </form>
  </div>
</div>
