<div class="navbar main-alt-navbar bg-base-100">
  <div class="navbar-start">
    <a href="/" class="w-[32px] sm:w-[40px] h-[32px] sm:h-[40px]">
      {% include "base/logo-zelie-primary.html" %}
    </a>
    {# Mobile title shown next to logo on small screens  #}
    {# But not on root page #}
    {% if request.path != "/" %}
      <a href="/" class="navbar-alt-title-mobile">{{ DOMAIN_CONFIG['templating']['navbar_title'] | safe }}</a>
    {% endif %}
  </div>
  <div class="navbar-center">
    <div class="text-xl sm:text-3xl">

      {# Dont display on "/" #}
      {% if request.path != "/" %}
        <a href="/" class="font-handwritten">{{ DOMAIN_CONFIG['templating']['navbar_title']  | safe }}</a>
      {% endif %}
    </div>
  </div>
  <div class="navbar-end gap-2 sm:gap-4 sm:pl-18">

    {# <button id="interropability-button" class="btn btn-square btn-ghost" style="box-shadow: none !important; border: none !important; font-weight:400">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-upload-icon lucide-upload">
        <path d="M12 3v12"></path>
        <path d="m17 8-5-5-5 5"></path>
        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
      </svg>
</button> #}

    <a href="{{ DOMAIN_CONFIG['templating']['button_primary_href'] }}"
       class="btn btn-sm sm:btn-md  btn-primary"
       style="padding: 0.5rem 0.75rem;
              box-shadow: none !important;
              font-weight:300">{{ DOMAIN_CONFIG['templating']['button_primary_text'] }}</a>
    <a href="{{ DOMAIN_CONFIG['templating']['button_ghost_href'] }}"
       class="btn btn-sm sm:btn-md btn-outline"
       style="padding: 0.5rem 0.75rem;
              box-shadow: none !important;
              font-weight:300">{{ DOMAIN_CONFIG['templating']['button_ghost_text'] }}</a>
    <button class="btn btn-square"
            onclick="my_modal_licenses.showModal()"
            style="box-shadow: none !important;
                   border: none !important;
                   font-weight:400">
      <svg xmlns="http://www.w3.org/2000/svg"
           width="20"
           height="20"
           viewBox="0 0 24 24"
           fill="none"
           stroke="currentColor"
           stroke-width="2"
           stroke-linecap="round"
           stroke-linejoin="round"
           class="lucide lucide-book-type-icon lucide-book-type">
        <path d="M10 13h4" />
        <path d="M12 6v7" />
        <path d="M16 8V6H8v2" />
        <path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20" />
      </svg>
    </button>
    <dialog id="my_modal_licenses" class="modal">
      <div class="modal-box">
        <form method="dialog">
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        {% include "base/modal-info-content.html" %}
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>


    <button id="accessibility-button"
            class="btn btn-square btn-secondary btn-soft"
            onclick="my_modal_accessibility.showModal()"
            style="font-weight:400">
      <svg xmlns="http://www.w3.org/2000/svg"
           width="24"
           height="24"
           viewBox="0 0 24 24"
           fill="none"
           stroke="currentColor"
           stroke-width="2"
           stroke-linecap="round"
           stroke-linejoin="round"
           class="lucide lucide-eye-icon lucide-eye">
        <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
        <circle cx="12" cy="12" r="3" />
      </svg>
    </button>
    <dialog id="my_modal_accessibility" class="modal">
      <div class="modal-box">
        <form method="dialog">
          <button class="btn btn-sm btn-square absolute right-2 top-2">✕</button>
        </form>
        {% include "base/modal-accessibility-content.html" %}
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </div>
</div>
