<div class="navbar main-alt-navbar bg-base-100">
  <div class="navbar-start">
    <a href="/" class="w-[32px] sm:w-[40px] h-[32px] sm:h-[40px]">
      {% include "base/logo-zelie-primary.html" %}
    </a>
    <!-- Mobile title shown next to logo on small screens -->
    <a href="/" class="navbar-alt-title-mobile">{{ DOMAIN_CONFIG['templating']['navbar_title'] }}</a>
  </div>
  <div class="navbar-center">
    <div class="text-xl sm:text-3xl">
      {% block navbar_title %}
        <a href="/" class="font-handwritten">{{ DOMAIN_CONFIG['templating']['navbar_title'] }}</a>
      {% endblock navbar_title %}
    </div>
  </div>
  <div class="navbar-end gap-2 sm:pl-18">
    <button class="btn btn-square btn-ghost"
            onclick="my_modal_1.showModal()"
            style="box-shadow: none !important;
                   border: none !important;
                   font-weight:400">
      <svg xmlns="http://www.w3.org/2000/svg"
           width="20"
           height="20"
           viewBox="0 0 24 24"
           fill="none"
           stroke="currentColor"
           stroke-width="2"
           stroke-linecap="round"
           stroke-linejoin="round"
           class="lucide lucide-book-type-icon lucide-book-type">
        <path d="M10 13h4" />
        <path d="M12 6v7" />
        <path d="M16 8V6H8v2" />
        <path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20" />
      </svg>
    </button>
    <dialog id="my_modal_1" class="modal">
      <div class="modal-box">{% include "base/modal-info-content.html" %}</div>
    </dialog>
    <a class="btn  btn-square btn-ghost"
       style="box-shadow: none !important;
              border: none !important;
              font-weight:400">
      <svg xmlns="http://www.w3.org/2000/svg"
           width="20"
           height="20"
           viewBox="0 0 24 24"
           fill="none"
           stroke="currentColor"
           stroke-width="2"
           stroke-linecap="round"
           stroke-linejoin="round"
           class="lucide lucide-upload-icon lucide-upload">
        <path d="M12 3v12"></path>
        <path d="m17 8-5-5-5 5"></path>
        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
      </svg>
    </a>
    <a href="{{ DOMAIN_CONFIG['templating']['button_primary_href'] }}"
       class="btn btn-sm sm:btn-md  btn-primary"
       style="padding: 0.5rem 0.75rem;
              box-shadow: none !important;
              font-weight:300">{{ DOMAIN_CONFIG['templating']['button_primary_text'] }}</a>
    <a href="{{ DOMAIN_CONFIG['templating']['button_ghost_href'] }}"
       class="btn btn-sm sm:btn-md btn-ghost"
       style="padding: 0.5rem 0.75rem;
              box-shadow: none !important;
              font-weight:300">{{ DOMAIN_CONFIG['templating']['button_ghost_text'] }}</a>
  </div>
</div>
