<ul class="">
  <li>
    <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left"
            data-theme-selector="anchor"
            style="margin-bottom: 0.25rem;
                   padding-left: 0.75rem;
                   justify-content: flex-start;
                   font-weight: 300;
                   font-size: 0.875rem">⚓️ Anchor</button>
  </li>
  <li>
    <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left"
            data-theme-selector="reinforced-contrast"
            style="margin-bottom: 0.25rem;
                   padding-left: 0.75rem;
                   justify-content: flex-start;
                   font-weight: 300;
                   font-size: 0.875rem">🔲 Contrastes renforcés</button>
  </li>
  <li>
    <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left"
            data-theme-selector="inversed-contrast"
            style="margin-bottom: 0.25rem;
                   padding-left: 0.75rem;
                   justify-content: flex-start;
                   font-weight: 300;
                   font-size: 0.875rem">🆚 Contrastes inversés</button>
  </li>
  <li>
    <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left"
            data-theme-selector="light-opt"
            style="margin-bottom: 0.25rem;
                   padding-left: 0.75rem;
                   justify-content: flex-start;
                   font-weight: 300;
                   font-size: 0.875rem">🌈 Light Opt.</button>
  </li>
  <li>
    <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left"
            data-theme-selector="dark-opt"
            style="margin-bottom: 0.25rem;
                   padding-left: 0.75rem;
                   justify-content: flex-start;
                   font-weight: 300;
                   font-size: 0.875rem">🌙 Dark Opt.</button>
  </li>
  {# <li>
            <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left" onclick="document.documentElement.setAttribute('data-theme', 'purple')" style="margin-bottom: 0.25rem; padding-left: 0.75rem; justify-content: flex-start; font-weight: 300; font-size: 0.875rem">
              🟪 <span class="hidden sm:inline">Purple</span>
            </button>
          </li> #}
  <li>
    <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left"
            data-theme-selector="dark-black"
            style="margin-bottom: 0.25rem;
                   padding-left: 0.75rem;
                   justify-content: flex-start;
                   font-weight: 300;
                   font-size: 0.875rem">🔳 DarkBlack</button>
  </li>

  <li>
    <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left"
            data-theme-selector="night"
            style="margin-bottom: 0.25rem;
                   padding-left: 0.75rem;
                   justify-content: flex-start;
                   font-weight: 300;
                   font-size: 0.875rem">🌒 Night</button>
  </li>
  <li>
    <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left"
            data-theme-selector="zelie"
            style="margin-bottom: 0.25rem;
                   padding-left: 0.75rem;
                   justify-content: flex-start;
                   font-weight: 300;
                   font-size: 0.875rem">🌊 Zélie</button>
  </li>
  <li>
    <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left"
            data-theme-selector="light"
            style="margin-bottom: 0.25rem;
                   padding-left: 0.75rem;
                   justify-content: flex-start;
                   font-weight: 300;
                   font-size: 0.875rem">
      Light <span class="text-base-content/50 italic ml-auto">(DaisyUI)</span>
    </button>
  </li>
  <li>
    <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left"
            data-theme-selector="dark"
            style="margin-bottom: 0.25rem;
                   padding-left: 0.75rem;
                   justify-content: flex-start;
                   font-weight: 300;
                   font-size: 0.875rem">
      Dark <span class="text-base-content/50 italic ml-auto">(DaisyUI)</span>
    </button>
  </li>
  <li>
    <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left"
            data-theme-selector="cyberpunk"
            style="margin-bottom: 0.25rem;
                   padding-left: 0.75rem;
                   justify-content: flex-start;
                   font-weight: 300;
                   font-size: 0.875rem">
      Cyberpunk <span class="text-base-content/50 italic ml-auto">(DaisyUI)</span>
    </button>
  </li>
  <li>
    <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left"
            data-theme-selector="dracula"
            style="margin-bottom: 0.25rem;
                   padding-left: 0.75rem;
                   justify-content: flex-start;
                   font-weight: 300;
                   font-size: 0.875rem">
      Dracula <span class="text-base-content/50 italic ml-auto">(DaisyUI)</span>
    </button>
  </li>
  <li>
    <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left"
            data-theme-selector="emerald"
            style="margin-bottom: 0.25rem;
                   padding-left: 0.75rem;
                   justify-content: flex-start;
                   font-weight: 300;
                   font-size: 0.875rem">
      Emerald <span class="text-base-content/50 italic ml-auto">(DaisyUI)</span>
    </button>
  </li>
  {# <li>
            <button class="btn btn-sm btn-outline hover:bg-primary hover:text-primary-content w-full text-left" onclick="document.documentElement.setAttribute('data-theme', 'nord')" style="margin-bottom: 0.25rem; padding-left: 0.75rem; justify-content: flex-start; font-weight: 300; font-size: 0.875rem">Nord</button>
          </li> #}
</ul>
