{% extends "base/main-alt.html" %}

{% block navbar_title %}
  <div class="navbar-alt-title">Ressources Libres : Maths.pm</div>
{% endblock navbar_title %}


{% block content %}
  <div class="mt-12 md:mt-24  max-w-4xl mx-auto mb-14 px-2">
    <h2 class="text-xl sm:text-2xl md:text-4xl font-bold mb-0 md:mb-2">
      Ressources pour le secondaire
    </h2>
    <p class="text-sm sm:text-base mb-6 text-base-content/70">
      Ces ressources ont été dévéloppées par Pointcarre.app et sont sous licence AGPL-3.0 ou MIT.
      <br />
      Les contenus (générés automatiquement ou créés manuellement) sont sous licence Creative Commons BY-SA 4.0.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 xl:gap-14">
      {% for product in products %}
        {% if product.product_type == "secondaire" %}
          {% include "products/product-card.html" %}
        {% endif %}
      {% endfor %}
    </div>
  </div>


  <div class="mt-12 md:mt-24 max-w-4xl mx-auto mb-14 px-2">
    <h2 class="text-xl sm:text-2xl md:text-3xl font-bold mb-0 md:mb-2">Logiciels libres</h2>
    <p class="text-sm sm:text-base mb-6 text-base-content/70">
      Ces logiciels ont été dévéloppés par Pointcarre.app et sont span class="italic">Open Source</span> (sous licence AGPL-3.0 ou MIT).
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 xl:gap-14">
      {% for product in products %}
        {% if product.product_type == "repo" %}
          {% include "products/product-card.html" %}
        {% endif %}
      {% endfor %}
    </div>
  </div>


  <div class="mt-12 md:mt-24 max-w-4xl mx-auto mb-14 px-2">
    <h2 class="text-xl sm:text-2xl md:text-3xl font-bold mb-0 md:mb-2">Logiciels libres de tiers</h2>
    <p class="text-sm sm:text-base mb-6 text-base-content/70">
      Ces logiciels ont été dévéloppés par des tiers et sont accessibles sur maths.pm.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 xl:gap-14">
      {% for product in products %}
        {% if product.product_type == "repo_from_other_org" %}
          {% include "products/product-card.html" %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
