{% extends "base/main-alt.html" %}

{% block view_specific_metatags %}
  <title>python.corsica</title>
{% endblock view_specific_metatags %}

{% block modal_info_content %}
  {% include "sujets0/modal-info-content.html" %}
{% endblock modal_info_content %}


{% block content %}
  <div class="padding-alt-security mx-auto mb-14 mt-12 max-w-3xl ">


    {% set shadow_header = True %}
    {% include "corsica/header.html" %}


    <div class="">Niveau Troisième</div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4  max-w-4xl mx-auto mb-12 mt-4"
         style="border-radius: var(--radius-box)">
      <a href="{{ request.url_for('get_pm', origin='corsica/a_troiz_geo.md') ~ '?format=html' }}"
         class="btn btn-outline btn-primary">
        {# <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M10 22V7a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5a1 1 0 0 0-1-1H2" />
          <rect x="14" y="2" width="8" height="8" rx="1" />
        </svg> #}
        <span style="font-family:var(--font-heading)">Géographie de l'île</span>
      </a>
      <button class="btn btn-outline btn-primary">
        {# <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M10 22V7a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5a1 1 0 0 0-1-1H2" />
          <rect x="14" y="2" width="8" height="8" rx="1" />
        </svg> #}
        <span style="font-family:var(--font-heading)">Navigation autour de l'île</span>
      </button>
    </div>

    <div class="">Niveau Seconde</div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4  max-w-4xl mx-auto mb-12 mt-4"
         style="border-radius: var(--radius-box)">
      <a href="{{ request.url_for('get_pm', origin='corsica/a_troiz_geo.md') ~ '?format=html' }}"
         class="btn btn-outline btn-primary">
        {# <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M10 22V7a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5a1 1 0 0 0-1-1H2" />
          <rect x="14" y="2" width="8" height="8" rx="1" />
        </svg> #}
        <span style="font-family:var(--font-heading)">Géographie de l'île avec Python</span>
      </a>
      <button class="btn btn-outline btn-primary">
        {# <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M10 22V7a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5a1 1 0 0 0-1-1H2" />
          <rect x="14" y="2" width="8" height="8" rx="1" />
        </svg> #}
        <span style="font-family:var(--font-heading)">Navigation autour de l'île (avec Python)</span>
      </button>
    </div>

    <div class="">
      <div class="space-y-6"></div>
    </div>


  </div>
{% endblock content %}
