<div style="margin:5em;border:0px solid #4A4A4A;">
  <div>{% include "logo/logo-jules-with-text.html" %}</div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div>{% include "logo/logo-jules-var-with-text.html" %}</div>


  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div>{% include "logo/logo-jules-var-with-text-purple.html" %}</div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div>{% include "logo/logo-gabriel-with-text.html" %}</div>


  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div>{% include "logo/logo-gabriel-margins.html" %}</div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div style="background-color: #111827; padding: 2em;">
    {% include "logo/logo-gabriel-white.html" %}
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div style="background-color: #111827; padding: 2em;">
    {% include "logo/logo-gabriel-white-with-text.html" %}
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div>{% include "logo/logo-gabriel-colorful.html" %}</div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div>{% include "logo/logo-gabriel-colorful-with-text.html" %}</div>

  <br />
  <br />
  <br />
  <br />
  <br />

  <div>{% include "logo/logo-gabriel.html" %}</div>
  <br />
  <div>
    <!-- {% include "logo/logo-abel-with-text.html" %} -->
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div>{% include "logo/logo-gabriel-square-with-text.html" %}</div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div>{% include "logo/logo-gabriel-square-colorful.html" %}</div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div>{% include "logo/logo-gabriel-app-text.html" %}</div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div>{% include "logo/logo-gabriel-app-text-colorful.html" %}</div>

</div>
