<svg color="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460 100">
  <defs>
  <style>
      @font-face {
          font-family: 'Red Hat Display';
      }

      .logo-text-rhd {
          font-family: 'Red Hat Display';
          font-weight: 600;
      }
  </style>
  </defs>
  <g transform="translate(0,9)">
  <!-- Logo -->
  <g>
  <!-- Outer square -->
  <rect x="5" y="5" width="72" height="72" stroke="#FFFFFF" fill="transparent" stroke-width="10" rx="10" ry="10" stroke-linejoin="" />

  <!-- Center dot -->
  <circle cx="41" cy="41" fill="#FFFFFF" r="11" />
  </g>

  <!-- Text -->
  <text x="96.5" y="57" class="logo-text-rhd" font-size="0" fill="#FFFFFF">
  <tspan font-size="54" fill="#FFFFFF">pointcarre</tspan>
  <tspan font-size="54" fill="#FFFFFF">.app</tspan>
  </text>
  </g>
</svg>
