<svg id="logo" viewbox="0 0 100 100" height="31" width="31" background-color="yellow">
  <defs>
    <lineargradient id="lgSquare" gradienttransform="rotate(35)">
      <stop offset="0%" style="stop-color:#2F1C53;
                  stop-opacity: 1;"></stop>
      <stop offset="50%" style="stop-color:#A46DFF;
                  stop-opacity: 1;"></stop>
      <stop offset="100%" style="stop-color: #2F1C53;
                  stop-opacity: 1;"></stop>
      <animate attributename="x1" values="-30%;70%;30%;-30%;" dur="4s" repeatcount="indefinite"></animate>
      <!-- <animate attributeName="y1" values="0%;50%;" dur="8s" repeatCount="indefinite"></animate> -->
      <animate attributename="x2" values="60%;160%;120%;60%;" dur="4s" repeatcount="indefinite"></animate>
      <!-- <animate attributeName="y2" values="40%;90%;" dur="8s" repeatCount="indefinite"></animate> -->
    </lineargradient>
    <!-- <radialGradient id="rdSquare" cx="40" cy="50" r="45"> <stop offset="60%" style="stop-color:#A46DFF; stop-opacity: 1;"> </stop> <stop offset="90%" style="stop-color:#2F1C53; stop-opacity: 1;"></stop> </radialGradient> -->
  </defs>

  <!-- <rect width="100%" height="100%" stroke="red" stroke-width="10px" rx="10px" ry="10px" stroke-linejoin="round" /> -->

  <!-- <rect x="0" y="0" width="100" height="100" fill="rgba(124,240,10,0.5)" rx="10" ry="10" stroke-linejoin="round" stroke-width="10" stroke="red"></rect> -->
  <rect x="6" y="6" width="88" height="88" stroke="url(&quot;#lgSquare&quot;)" fill="transparent" stroke-width="12" rx="12" ry="12" stroke-linejoin="round"/>

  <!-- <rect x="11" y="11" width="78" height="78" cx="41" rx="4" style=" fill:white;"></rect> -->
  <!-- <rect x="9" y="18" width="64" height="64" cx="41" rx="0.1" style="fill: black;"></rect> -->
  <!-- Add r=39 to test for centering -->
  <circle cx="50" cy="50" r="13" style="fill:
          url(&quot;#lgSquare&quot;);"></circle>

</svg>
