<figure class="m-0 p-0 rounded-none" style="width: 100%; height: 100%; display: block;">
  <div class="bg-base-200/90 gap-0 w-full"
       style="border-radius: var(--radius-box);
              display: grid;
              grid-template-columns: 60% 40%;
              height: 100%">
    <div class="flex items-center text-center text-left">
      <h1 class="pl-3 sm:pl-8 " style="font-family: var(--font-handwritten)">
        <span class="text-base-content/60">Matematica in l'Isula di a Bellezza</span>
        {# <hr class="mb-4 block border-[0.1px] border-base-content/60" /> #}
        <span class="text-xl block text-primary font-semibold">Maths.Corsica</span>
      </h1>
    </div>
    <div class="mx-auto" style="display: flex; align-items: center; justify-content: center; height: 100%;">
      {% set width = 40 %}
      {% set height = 80 %}
      {% include "corsica/corsica-wikimedia.html" %}
    </div>
  </div>
</figure>
