<div class="card p-0 border-base-300 border-1 aspect-[500/120] shadow-lg max-w-[450px]">
  <div class="max-h-[180px] bg-base-200 rounded-t-box">
    {% if product.figure_png %}
      <figure class="m-0 p-0 align-top aspect-[500/120] w-full h-full overflow-hidden rounded-none flex items-center justify-center bg-white p-4">
        <img src="{{ product.figure_png }}" alt="{{ product.name }} Logo" class="object-contain h-full" />
      </figure>
    {% elif product.figure_svg %}
      {% set svg_path = "products/" + product.figure_svg %}
      {% include svg_path %}
    {% endif %}
  </div>

  <hr class="border-base-300" />
  <div class="card-body py-8">
    <div class="flex flex-row items-center justify-between mb-3">
      <h2 class="card-title text-2xl gap-0 {{ product.font_class }}">{{ product.title_html|safe }}</h2>
      <div>
        {% if product.classes_formatted %}
          {% for class_name in product.classes_formatted %}
            <span class="badge badge-outline font-mono">{{ class_name|safe }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <p class="text-sm mb-4">{{ product.description }}</p>
    <div class="flex flex-row gap-4">
      <a href="{{ product.local_path }}"
         class="btn cursor-pointer btn-sm btn-outline btn-primary shadow-none
                {% if product.source_link %}
                  w-1/2
                {% else %}
                  w-full
                {% endif %}">
        <svg aria-label="GitHub logo"
             width="16"
             height="16"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round"
             class="lucide lucide-external-link-icon lucide-external-link">
          <path d="M15 3h6v6"></path>
          <path d="M10 14 21 3"></path>
          <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
        </svg>
        Application
      </a>
      {% if product.source_link %}
        <a href="{{ product.source_link }}" class="btn cursor-pointer btn-sm btn-outline w-1/2">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="16"
               height="16"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round"
               class="lucide lucide-code-icon lucide-code">
            <path d="m16 18 6-6-6-6"></path>
            <path d="m8 6-6 6 6 6"></path>
          </svg>
          <span>Code source</span>
        </a>
      {% endif %}
    </div>
  </div>
</div>
