<div class="{% if bg_header %}
              bg-base-200/90
            {% else %}
              bg-base-100
            {% endif %}
            grid grid-cols-1 md:grid-cols-[60%_40%] gap-0 py-8
            {% if shadow_header %}
              shadow-xl
            {% else %}
              shadow-xl sm:shadow-none
            {% endif %}
            pt-8 rounded-box">
  <div class="pl-0 md:pl-12  md:flex items-center text-center md:text-left">
    <div class="font-handwritten">
      <span class="text-xl md:text-2xl text-base-content/60 mb-2 hidden md:block">Matematica in l'Isula di a Bellezza</span>
      <hr class="mb-4 hidden md:block border-[0.1px] border-base-content/60" />
      <span class="text-4xl md:text-5xl block mb-6 md:mb-0 text-primary font-semibold">Maths.Corsica</span>
    </div>
  </div>
  <div class="mx-auto md:pr-12">
    {% set width = "122" %}
    {% set height = "243" %}
    {% include "corsica/corsica-wikimedia.html" %}
  </div>
  <div class="mt-4 text-2xl text-center md:text-3xl text-base-content/60 mb-2 block md:hidden font-handwritten">
    Matematica in l'Isula di a Bellezza
  </div>
</div>
