<div class="tabs tabs-boxed pb-3 pt-2 mx-auto mb-8 bg-base-100 custom-tabs border-base-300 border-1 shadow"
     style="border-radius: var(--radius-card) !important">
  <style>
      .custom-tabs .tab-active {
          background-color: transparent !important;
          color: var(--color-primary) !important;
          font-weight: 500;
          position: relative;
      }

      .custom-tabs .tab-active::after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 25%;
          width: 50%;
          height: 2px;
          background-color: var(--color-primary);
      }

      .custom-tabs .tab {
          transition: all 0.2s ease;
      }
  </style>
  <a class="tab tab-lg flex-1 gap-1 tab-active" data-tab="generate">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="h-4 w-4 hidden sm:block"
         viewBox="0 0 24 24"
         fill="none"
         stroke="currentColor"
         stroke-width="1.5"
         stroke-linecap="round"
         stroke-linejoin="round">
      <path d="M10 22V7a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5a1 1 0 0 0-1-1H2" />
      <rect x="14" y="2" width="8" height="8" rx="1" />
    </svg>
    <span>Générer<span class="hidden sm:inline">&nbsp;des exercices</span></span>
  </a>
  <a class="tab tab-lg flex-1 gap-1" data-tab="documentation">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="h-4 w-4 hidden sm:block"
         viewBox="0 0 24 24"
         fill="none"
         stroke="currentColor"
         stroke-width="1.5"
         stroke-linecap="round"
         stroke-linejoin="round">
      <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
      <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      <path d="M10 9H8" />
      <path d="M16 13H8" />
      <path d="M16 17H8" />
    </svg>
    <span>
      <span class="hidden sm:inline">Lire la documentation</span>
      <span class="sm:hidden">Documentation</span>
    </span>
  </a>
  <a class="tab tab-lg flex-1 gap-1" data-tab="subjects">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="h-4 w-4 hidden sm:block"
         viewBox="0 0 24 24"
         fill="none"
         stroke="currentColor"
         stroke-width="1.5"
         stroke-linecap="round"
         stroke-linejoin="round">
      <path d="M10 18v-7" />
      <path d="M11.12 2.198a2 2 0 0 1 1.76.006l7.866 3.847c.476.233.31.949-.22.949H3.474c-.53 0-.695-.716-.22-.949z" />
      <path d="M14 18v-7" />
      <path d="M18 18v-7" />
      <path d="M3 22h18" />
      <path d="M6 18v-7" />
    </svg>
    <span>
      <span class="hidden sm:inline">Consulter les sujets 0</span>
      <span class="sm:hidden">Sujets 0</span>
    </span>
  </a>
</div>
